<!<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Untitled</title>

	<link rel="author" href="humans.txt">
	<script type="text/javascript">



var xhr = new XMLHttpRequest();


xhr.onreadystatechange = function(){
	console.log(xhr.readyState);
	if(xhr.readyState==4){
		console.log(xhr.responseText);

	}
}
xhr.open('POST', 'http://portalteste.sebraemg.com.br/siacweb/WebServices/SiacWEB_CadastroAtenderWS.asmx', true);
 xhr.setRequestHeader('Content-Type', 'text/xml');
  xhr.setRequestHeader('Cache-Control', 'no-cache');
  xhr.responseType="text";


var xml = '<?xml version="1.0" encoding="utf-8"?>'
+'<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"' +'xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="CadastroAtender" xmlns:types="CadastroAtender/encodedTypes" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">'
  +'<soap:Body soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">'
   + '<tns:Util_Rec_DadosPessoaFisica>'
    +  '<en_Cpf xsi:type="xsd:string">09030141654</en_Cpf>'
    +'</tns:Util_Rec_DadosPessoaFisica>'
+ '</soap:Body>'
+'</soap:Envelope>'


xhr.send(xml);

</script>
</head>

<body>

	
</body>
</html>












http://portalteste/siacweb/WebServices/SiacWEB_CadastroAtenderWS.asmx